{% extends 'base.html.twig' %}

{% block title %}Espace Utilisateur{% endblock %}

{% block body %}

     <section>

        <!-- ------ Titre ------ -->
        <div class="container-fluid ">
            <div class="row  mt-3">
                <div class="col-12 text-center title-login-page p-3">

                    <h2 class="text-uppercase ">identifiez-vous ou créez un compte </h2>
                </div>
            </div>
       

        <!-- ------ Section New Client -->
       
            <div class="row mb-3 mt-3 flex-row-reverse">
                <div class="col-12 col-lg-6 mb-4 ">
                    <div class="cont-nouveau-client d-flex align-items-center justify-content-start  flex-column">
                        <div class="title text-white">
                            <h4 class="mb-0">Nouveau client?</h4>
                        </div>
                        <div class="txt-deco-login d-flex align-items-center mb-3">
                            <hr><i class="fas fa-code px-2"></i>
                            <hr>
                        </div>
                        <div class="new-client-pitch mb-3">
                            <p class=" perso_blue-green ">Inscrivez-vous pour faire partie de la famille Greenclothe</p>
                        </div>

                        <form class="form-mail-new-login d-flex flex-column ">
                            <label for="mailNewClient"></label>
                            <input type="mail" id="mailNewClient" placeholder="Adress mail" required>


                        </form>
                        <div class="btn-mail-new-login ">
                            <a type="button" href="register.htm" class="btn btn-warning btn-lg px-4 rounded-pill p-2 text-uppercase">
                                créer un compte</a>
                        </div>
                    </div>
                </div>
       
        <!-- ------ Section Login Client ------ -->
       
                <div class="col-12 col-lg-6 mb-4 ">
                    <div class="cont-client d-flex align-items-center justify-content-start  flex-column">
                        <div class="title text-white">
                            <h4 class="mb-0">Déjà inscrit?</h4>
                        </div>
                        <div class="txt-deco-login d-flex align-items-center mb-3">
                            <hr><i class="fas fa-code px-2"></i>
                            <hr>
                        </div>


                        <form class="form-mail-new-login d-flex flex-column align-items-center ">
                            <label for="mailLoginClient"></label>
                            <input type="mail" id="mailLoginClient" placeholder="Adress mail" required>
                            <label for="passwordLoginClient"></label>
                            <input type="mail" id="passwordLoginClient" placeholder="Password" required>

                        <div class="btn-mail-new-login ">
                            
                            <a href="mon_compte_dashBoard.htm" type="submit" class="btn btn-warning btn-lg px-4 rounded-pill p-2 text-uppercase">
                                identifiez-vous</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-12 text-center d-flex justify-content-center">
                    <div class="mention-legal-login-register ">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vel tempore quasi
                            laudantium! Sunt suscipit repellat unde ducimus repellendus nostrum in officia hic quasi
                            eum, nihil ad dolorum mollitia, maiores omnis eveniet rerum. Nulla enim in voluptatum
                            obcaecati saepe, quas, cum quam cupiditate at ad eos iure error quidem omnis natus illum
                            laborum harum eligendi similique fugit officiis ipsum voluptas doloremque? Iusto blanditiis
                            fugiat facilis itaque aspernatur aliquam architecto eligendi accusantium voluptatibus
                            dolorum.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
