
    <div class="container-fluid p-4 p-md-5 ">
        <!-- Header Tableau de bord Mon compte -->
        <div class="row main-menu-profil ">

            <div class=" col-12 block-top-account py-0">
                <div class="block-title-account text-center py-2 ">
                    <i class="fas fa-chevron-right chevron-dropDown" id="chevronDropdown"></i>
                    <h1>mon compte</h1>
                </div>
            </div>
            <div class=" block-content" >
                <ul class="menu-account" id="menuAcount">
                <li 
                    {% if  app.request.attributes.get('_route') is same as "account" %}
                        class="current"
                    {% endif %}
                    ><a href=" {{path('account')}} ">tableau de bord</a>
                </li>
                <li 
                    {% if  app.request.attributes.get('_route') is same as "account_order" %}
                    class="current"
                    {% endif %}
                    ><a href="{{path('account_order')}}">mes commandes</a>
                </li>
                <li 
                    {% if  app.request.attributes.get('_route') is same as "account_modif_info" %}
                        class="current"
                    {% endif %}><a href=" {{path('account_modif_info')}} ">mes informations</a>
                    </li>
                <li 
                    {% if  app.request.attributes.get('_route') is same as "account_address" %}
                        class="current"
                    {% endif %}><a href=" {{path('account_address')}} ">mes adresses</a>
                </li>
                

                </ul>
            </div>
            

        </div>